/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/01/2018, 04:59:34 PM
    Author     : diegfraa
*/

.button45 {
    background-color: #ffffff; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button46 {background-color: #ffffff; color: black;} /* Gray */ 
p.bordecamp {
    border: 1px solid #E1DDDD ;
    border-radius: 5px;
    padding: 10px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
    padding: 15px;
}

.panel-primary {
    border-color: #428bca;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;


}

.panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #428bca;
}
.panel-primary > .panel-heading {
    color: #428bca;
    background-color: #fff;
    border-color: #428bca;
    text-align: center;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #428bca;
}
.panel-primary > .panel-heading .badge {
    color: #428bca;
    background-color: #fff;
}
.control-label{
    color: rgb(128,130,133);
}

